# 라이브러리 불러오기

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 지역별 범죄 발생 현황 분석

In [164]:
df = pd.read_csv('./범죄_data/범죄_발생지_20240116161110.csv', header = 1)

theft = df.iloc[11] # 절도 범죄
df = df.drop('죄종별(1)', axis = 1)
df = df.drop('계', axis = 1).T
df = df.rename(columns = df.iloc[0])
df = df.drop(df.index[0])
df = df.drop('소계', axis = 1)
df = df.drop('죄종별(2)', axis = 1)


df

,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간·강제추행등,방화,상해,폭행,...,직권남용,증수뢰,통화,문서・인장,유가증권인지,사기,횡령,배임,성풍속범죄,도박범죄
서울,35,68,118,1200,219,4358,35,217,3353,26509,...,392,71,172,2033,25,52034,16368,791,4924,545
부산,29,24,43,347,83,1064,14,89,2478,8474,...,156,17,20,897,7,26847,4469,273,1602,384
대구,16,15,31,215,43,648,9,50,1568,5629,...,47,7,27,459,3,14836,2643,106,1125,138
인천,14,38,30,340,61,1030,16,70,1545,8040,...,78,21,29,581,-,16652,4175,184,1507,239
광주,1,2,10,152,32,391,8,35,641,3430,...,64,11,10,319,1,8249,1666,112,577,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
경상남도.7,-,1,5,19,4,38,2,5,134,334,...,5,-,-,28,-,1193,117,9,39,9
제주특별자치도,1,4,1,17,8,84,-,9,213,625,...,4,-,-,35,-,1599,225,12,82,13
제주특별자치도.1,3,4,4,78,13,201,3,20,351,2169,...,19,1,2,146,1,3996,646,52,216,49
기타도시,4,1,1,18,3,18,1,-,16,53,...,58,11,12,626,2,25191,993,176,786,110
도시이외,19,43,28,375,52,848,23,114,2612,5704,...,128,31,13,843,1,16295,2080,263,747,290

In [165]:
theft_df = pd.DataFrame(theft)
theft_df = theft_df.iloc[3:]
theft_df = theft_df.rename(columns = {11 : '절도'})


df = pd.concat([df, theft_df], axis = 1)

df

,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간·강제추행등,방화,상해,폭행,...,증수뢰,통화,문서・인장,유가증권인지,사기,횡령,배임,성풍속범죄,도박범죄,절도
서울,35,68,118,1200,219,4358,35,217,3353,26509,...,71,172,2033,25,52034,16368,791,4924,545,37594
부산,29,24,43,347,83,1064,14,89,2478,8474,...,17,20,897,7,26847,4469,273,1602,384,13699
대구,16,15,31,215,43,648,9,50,1568,5629,...,7,27,459,3,14836,2643,106,1125,138,9792
인천,14,38,30,340,61,1030,16,70,1545,8040,...,21,29,581,-,16652,4175,184,1507,239,8895
광주,1,2,10,152,32,391,8,35,641,3430,...,11,10,319,1,8249,1666,112,577,102,5204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
경상남도.7,-,1,5,19,4,38,2,5,134,334,...,-,-,28,-,1193,117,9,39,9,387
제주특별자치도,1,4,1,17,8,84,-,9,213,625,...,-,-,35,-,1599,225,12,82,13,886
제주특별자치도.1,3,4,4,78,13,201,3,20,351,2169,...,1,2,146,1,3996,646,52,216,49,2247
기타도시,4,1,1,18,3,18,1,-,16,53,...,11,12,626,2,25191,993,176,786,110,43
도시이외,19,43,28,375,52,848,23,114,2612,5704,...,31,13,843,1,16295,2080,263,747,290,9454

In [166]:
all_df = df.loc['서울' : '세종']

all_df

,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간·강제추행등,방화,상해,폭행,...,증수뢰,통화,문서・인장,유가증권인지,사기,횡령,배임,성풍속범죄,도박범죄,절도
서울,35,68,118,1200,219,4358,35,217,3353,26509,...,71,172,2033,25,52034,16368,791,4924,545,37594
부산,29,24,43,347,83,1064,14,89,2478,8474,...,17,20,897,7,26847,4469,273,1602,384,13699
대구,16,15,31,215,43,648,9,50,1568,5629,...,7,27,459,3,14836,2643,106,1125,138,9792
인천,14,38,30,340,61,1030,16,70,1545,8040,...,21,29,581,-,16652,4175,184,1507,239,8895
광주,1,2,10,152,32,391,8,35,641,3430,...,11,10,319,1,8249,1666,112,577,102,5204
대전,6,11,17,200,34,500,2,40,831,4166,...,13,7,336,-,11734,1456,105,733,181,6034
울산,8,7,10,112,14,311,10,28,683,2574,...,7,1,206,-,5615,759,72,449,248,3283
세종,2,3,2,26,6,73,1,8,119,400,...,1,3,70,-,1528,248,13,120,13,1110

In [167]:
df.index

Index(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기도', '경기도.1', '경기도.2',
       '경기도.3', '경기도.4', '경기도.5', '경기도.6', '경기도.7', '경기도.8', '경기도.9', '경기도.10',
       '경기도.11', '경기도.12', '경기도.13', '경기도.14', '경기도.15', '경기도.16', '경기도.17',
       '경기도.18', '경기도.19', '경기도.20', '경기도.21', '경기도.22', '경기도.23', '경기도.24',
       '경기도.25', '경기도.26', '경기도.27', '강원도', '강원도.1', '강원도.2', '강원도.3', '강원도.4',
       '강원도.5', '강원도.6', '충청북도', '충청북도.1', '충청북도.2', '충청남도', '충청남도.1',
       '충청남도.2', '충청남도.3', '충청남도.4', '충청남도.5', '충청남도.6', '충청남도.7', '전라북도',
       '전라북도.1', '전라북도.2', '전라북도.3', '전라북도.4', '전라북도.5', '전라남도', '전라남도.1',
       '전라남도.2', '전라남도.3', '전라남도.4', '경상북도', '경상북도.1', '경상북도.2', '경상북도.3',
       '경상북도.4', '경상북도.5', '경상북도.6', '경상북도.7', '경상북도.8', '경상북도.9', '경상남도',
       '경상남도.1', '경상남도.2', '경상남도.3', '경상남도.4', '경상남도.5', '경상남도.6', '경상남도.7',
       '제주특별자치도', '제주특별자치도.1', '기타도시', '도시이외'],
      dtype='object')

In [168]:
re_lst = ['경기도', '강원도', '충청북도', '충청남도', '경상북도', '경상남도', '제주특별자치도']

def si_re_change(df):
    ok_df = pd.DataFrame()
    for name in re_lst:
        re_df = df[df.index.str.contains(name)]
        re_df = re_df.replace('-', 0)
        re_df = re_df.astype('int')
        re_df = re_df.sum()
        re_df =  pd.DataFrame(re_df, columns = [name]).T
        ok_df = pd.concat([ok_df, re_df])
    return ok_df

ok_df = si_re_change(df)

# 전라남도, 전라북도는 이상해서 따로
Jeollanam = df[df.index.str.contains('전라남도')]
Jeollanam = Jeollanam.replace('-', 0)
Jeollanam = Jeollanam.astype('int')
Jeollanam = Jeollanam.sum()
Jeollanam = pd.DataFrame(Jeollanam, columns = ['전라남도']).T

Jeollabuk = df[df.index.str.contains('전라북도')]
Jeollabuk = Jeollabuk.replace('-', 0)
Jeollabuk = Jeollabuk.astype('int')
Jeollabuk = Jeollabuk.sum()
Jeollabuk = pd.DataFrame(Jeollabuk, columns = ['전라북도']).T


all_df = pd.concat([all_df, ok_df, Jeollanam, Jeollabuk])
all_df

,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간·강제추행등,방화,상해,폭행,...,증수뢰,통화,문서・인장,유가증권인지,사기,횡령,배임,성풍속범죄,도박범죄,절도
서울,35,68,118,1200,219,4358,35,217,3353,26509,...,71,172,2033,25,52034,16368,791,4924,545,37594
부산,29,24,43,347,83,1064,14,89,2478,8474,...,17,20,897,7,26847,4469,273,1602,384,13699
대구,16,15,31,215,43,648,9,50,1568,5629,...,7,27,459,3,14836,2643,106,1125,138,9792
인천,14,38,30,340,61,1030,16,70,1545,8040,...,21,29,581,-,16652,4175,184,1507,239,8895
광주,1,2,10,152,32,391,8,35,641,3430,...,11,10,319,1,8249,1666,112,577,102,5204
대전,6,11,17,200,34,500,2,40,831,4166,...,13,7,336,-,11734,1456,105,733,181,6034
울산,8,7,10,112,14,311,10,28,683,2574,...,7,1,206,-,5615,759,72,449,248,3283
세종,2,3,2,26,6,73,1,8,119,400,...,1,3,70,-,1528,248,13,120,13,1110
경기도,65,97,107,1148,189,3467,51,272,4914,33294,...,73,101,2311,13,69021,15190,764,5710,1380,40974
강원도,10,7,14,131,28,307,8,25,766,2559,...,3,13,240,3,6745,857,63,397,101,3512
충청북도,5,12,21,149,15,354,8,29,795,2424,...,4,5,228,0,7596,923,50,439,97,4576
충청남도,13,28,22,214,31,483,7,37,979,3216,...,6,10,359,0,10349,1533,132,642,128,6304
경상북도,10,13,11,213,38,433,9,60,1380,3888,...,13,9,357,0,12356,1656,114,714,113,8469
경상남도,13,27,26,264,35,658,11,68,2047,6249,...,19,3,571,1,19043,2403,176,977,147,11286
제주특별자치도,4,8,5,95,21,285,3,29,564,2794,...,1,2,181,1,5595,871,64,298,62,3133
전라남도,9,7,10,117,25,274,5,23,763,2762,...,4,2,336,0,6246,872,73,364,73,3926
전라북도,12,16,10,151,18,362,4,39,752,3052,...,7,13,306,1,9916,1058,75,539,112,4982

In [169]:
# 5대 범죄 - 절도, 성폭력, 살인, 폭력, 강도만 가져오기

all_df.columns.str.contains('절도')

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True])

In [170]:
all_df.columns

Index(['살인기수', '살인미수등', '강도', '강간', '유사강간', '강제추행', '기타 강간·강제추행등', '방화', '상해',
       '폭행', '체포・감금', '협박', '약취・유인', '폭력행위등', '공갈', '손괴', '직무유기', '직권남용',
       '증수뢰', '통화', '문서・인장', '유가증권인지', '사기', '횡령', '배임', '성풍속범죄', '도박범죄',
       '절도'],
      dtype='object')